/* universal selector */

* {
    font-family: Arial, Helvetica, sans-serif ;
}

/* type selctor */
h1 {
    color: brown;
}

/* class selector */
li.pagi{
    color: darkgoldenrod;
}

li.siang {
    color: chartreuse;
}

li.malam {
    color: blue;
}

/* child selector */
p>b {
    color: darkcyan;
}

li>b {
    color: darkcyan;
}

/* desendant selector */
p b {
    color: chocolate;
}

/* satu target seector */
p .target {
    color: darkslateblue;
}