body {
  width: 960px;
  margin: 0px auto;
  font-family: Arial;
}

#header h1 {
  text-align: center;
}

#nav {
  text-align: center;
  background-color: #efefef;
  padding: 10px;
  margin: 10px;
}

#nav li {
  display: inline;
  padding: 5px;
}

#highlight {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: #efefef;
}

#highlight img {
  width: 30%;
}

.article {
  float: left;
  background-color: #efefef;
  width: 280px; /*(960:3 kotak = 320-m+=320-40=280) */
  height: 200px;
  margin: 10px; /* 20:kana kiri */
  padding: 10px; /* 20:kanan kiri */
}

#content {
  height: 100%;
  overflow: auto;
}

#footer {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: #efefef;
}
